<div id="<%= dom_id movie %>">
  <p>
    <h1><%= movie.title %> (Rated: <%= movie.rating %>)</h1>
  </p>

  <p>
    <strong>Release Date:</strong>
    <%= movie.release_date.strftime('%d-%b-%Y') if movie.release_date.present? %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <strong><%= movie.description %></strong>
  </p>

</div>
