<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <div id="movies">
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date.strftime("%d-%b-%Y") %></td>
        </tr>
      <% end %>
    </div>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total Movies: <%= @movies.count %></td>
    </tr>
  </tfoot>
</table>